<header class="header-login">
    <h1>Welcome Admin</h1>
</header>
<main class="main-login">
    <section class="login">
        <h2>Login</h2>
        <form>
            <label for="username">User</label>
            <input type="text" name="username" id="name" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button>Sign in</button>
        </form>
    </section>
</main>
<footer class="footer-login">
    <p>&copy; 2024 Client Management. All rights reserved.</p>
</footer>