header {
    background-color: #12372A;
    color: #FBFADA;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

section {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #12372A; 
    color: #FBFADA; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #436850;
}

/* Estilos para el footer */
footer {
    background-color: #12372A;
    color: #FBFADA;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}