<header>
    <h1>Client Products</h1>
  </header>
  
  <main>
    <div class="actions">
        <button>Consult Balance</button>
        <button>Deposit</button>
        <button>Withdraw</button>
      </div>
    <table>
      <thead>
        <tr>
          <th>Number Account</th>
          <th>Amount Balance</th>
          <th>Open Account</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    
  </main>
  
  <footer>
    <p>&copy; 2024 Client Management. All rights reserved.</p>
  </footer>