<header>
    <h1>Welcome to your best finance option</h1>
</header>
<main>
    <section class="asign-pasw">
        <h2>Set Password</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <label for="emailuser">Email</label>
            <input type="email" formControlName="email" name="emailuser" id="email" required>
            <label for="new_password">Password</label>
            <input type="password" formControlName="new_password" name="new_password" id="new_password" required>
            <button type="submit">Create Client</button>
        </form>
    </section>
</main>
<footer>
    <p>&copy; 2024 Client Management. All rights reserved.</p>
</footer>