header {
    text-align: center;
    margin: 20px 0;
    color: #12372A;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.asign-pasw {
    background-color: #ADBC9F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    align-items: center;
}

h2{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 10px;
    color: #12372A;
    width: 100%;
    text-align: center;
}

form input[type="email"],
form input[type="text"],
form input[type="password"],
form select {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    max-width: 200px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form select {
    appearance: none; /* Elimina el estilo de selección predeterminado */
}

form button {
    background-color: #436850;
    color: #FBFADA;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

form button:hover {
    background-color: #12372A;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #12372A;
    color: #FBFADA;
    width: 100%;
    position: fixed;
    bottom: 0;
}