<header>
    <h1>Welcome to your best finance option</h1>
</header>
<main>
    <section class="asign-pasw">
        <h2>Set Password</h2>
        <form>
            <label for="emailuser">Email</label>
            <input type="email" name="emailuser" id="email" required>
            <label for="document-type">Document Type</label>
            <select name="document-type" id="document-type" required>
                <option value="CC">CC</option>
                <option value="CE">CE</option>
                <option value="NIT">NIT</option>
                <option value="TI">TI</option>
            </select>
            <label for="document">Number of document</label>
            <input type="text" name="document" id="document" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Create Client</button>
        </form>
    </section>
</main>
<footer>
    <p>&copy; 2024 Client Management. All rights reserved.</p>
</footer>