header {
    background-color: #12372A;
    color: #FBFADA;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: column; /* Ajustar el contenido verticalmente */
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); /* Tamaño del viewport menos el tamaño del header y footer */
  }
  
  main h3 {
    margin: 20px 0; /* Espacio alrededor del elemento h3 */
  }
  
  main ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  main ul li a {
    display: block;
    background-color: #436850;
    color: #FBFADA;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  main ul li a:hover {
    background-color: #ADBC9F;
  }
  
  footer {
    background-color: #12372A;
    color: #FBFADA;
    text-align: center;
    padding: 20px 0;
  }

  button[type="submit"],
  button[routerLink] {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #12372A; 
    color: #FBFADA; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button[routerLink]:hover {
    background-color: #436850;
  }

